pakku.jar
build/**

config/AppliedEnergistics2/items.csv
config/brandon3055/ProjectIntelligence
config/brandon3055/ResourceCache
config/brandon3055/contributors.json
config/chiselsandbits_clipboard.cfg
config/codechicken/supporters.json
config/codechicken/supporters.marker
config/enderio/recipes/*.pdf
config/fancymenu/locals
config/jei/bookmarks.ini
config/jei/worldSettings.cfg
config/konkrete
config/mousetweaks.cfg
config/normalasm
config/splash.properties
config/tconstruct_oredictcache.dat
config/InvTweaks
