# Configuration file

client {
    # Client ID of the Discord Rich Presence as seen in the developer portal
    S:"App ID"=572877459738066955
    S:"Large Image Key"=hollow
    S:"Small Image Key"=diamond
    S:"Small Image Text"=
}


