# Configuration file

general {
    # If true, trying a new food spawns particles.
    B:"Enable Intermediate Particles"=true

    # If true, reaching a new milestone spawns particles.
    B:"Enable Milestone Particles"=true

    # If true, reaching a new milestone plays a ding sound.
    B:"Enable Milestone Sounds"=true

    # Foods in this list won't affect the player's health nor show up in the food book.
    S:"Food Blacklist" <
     >

    # When this list contains anything, the blacklist is ignored and instead only foods from here count.
    S:"Food Whitelist" <
     >

    # A list of numbers of unique foods you need to eat to unlock each milestone, in ascending order.
    I:"Milestone amounts" <
        14
        29
        43
        57
        72
        86
        101
        115
        129
        144
        158
        172
        187
        201
        215
        230
        244
        259
        273
        287
        302
        316
        330
        345
        359
        373
        388
        402
        417
        431
        445
        460
        474
        488
        503
        517
        531
        546
        560
        575
        589
        603
        618
        632
        646
        661
        675
        689
        704
        718
        732
        747
        761
        776
        790
        804
        819
        833
        847
        862
        876
        890
        905
        919
        934
        948
        962
        977
        991
        1005
        1020
        1034
        1048
        1063
        1077
        1092
        1106
        1120
        1135
        1149
     >

    # The minimum hunger value foods need to provide in order to count for milestones, in half drumsticks.
    I:"Minimum Food Value"=1

    # Whether or not to reset the food list on death, effectively losing all bonus hearts.
    B:"Reset on Death"=false

    # If true, the food book also lists foods that you haven't eaten, in addition to the ones you have.
    B:"Show Uneaten Foods"=true

    # Number of hearts you start out with.
    I:defaultHeartCount=10

    # Number of hearts you gain for reaching a new milestone.
    I:heartsPerMilestone=1

    # If true, foods indicate in their tooltips whether or not they have been eaten.
    B:isFoodTooltipEnabled=true

    # Whether the messages notifying you of reaching new milestones should be displayed above the hotbar or in chat.
    B:shouldShowProgressAboveHotbar=true
}


